// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";
@import "compass/css3/font-face";

// @include font-face( "Entypo Social", font-files( "../fonts/entypo-social.eot", "../fonts/entypo-social.woff", "../fonts/entypo-social.svg#webfontregular" ) );

@font-face {
    font-family: 'Entypo Social';
    src: url( '../fonts/entypo-social.eot');
    src: url( '../fonts/entypo-social.eot?#iefix' ) format( 'embedded-opentype '),
         url( '../fonts/entypo-social.woff') format( 'woff' ),
         url( '../fonts/entypo-social.ttf') format( 'truetype' ),
         url( '../fonts/entypo-social.svg#webfontregular' ) format( 'svg' );
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Entypo';
    src: url( '../fonts/entypo.eot');
    src: url( '../fonts/entypo.eot?#iefix' ) format( 'embedded-opentype '),
         url( '../fonts/entypo.woff') format( 'woff' ),
         url( '../fonts/entypo.ttf') format( 'truetype' ),
         url( '../fonts/entypo.svg#webfontregular' ) format( 'svg' );
    font-weight: normal;
    font-style: normal;
}

body {
  -webkit-font-smoothing: subpixel-antialiased !important;
}

h1 {
  a {
    color: $txtColor;
    span:not(.at) {
      color: $mainColor;
    }

    &:hover {
      color: $mainColor;
      span {
        color: $txtColor;
      }      
    }
  }
}

a:hover {
  color: $linkHoverColor;
}

.nav-bar {
  background: #FFF;
  border-bottom: 1px solid #DDD;
  li {
    border: none;
    a {
      color: $txtColor;
      &:hover {
        color: $mainColor;
        background: #FFF;
      }
    }
  }
  li:last-child {
    border: none;
  }
  li.active {
    background: none;
    a {
      color: $mainColor;
    }
  }
}

h4 > small {
  margin-left: 10px
}

.grid {
    [class*="column"] + [class*="column"]:last-child {
        float: left;
    }
    img {
      min-height: 206px;
    }
}

.picture {
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon { font: 28px/0.75 'Entypo Social'; display: inline-block; zoom: 1; width: 20px; text-align: center; vertical-align: -3px; };
.icon.twitter:before  { content: '\F309' }
.icon.facebook:before { content: '\F30C' }
.icon.github:before   { content: '\F300' }
.icon.email:before    { content: '\1F53F'; font-family: 'Entypo' }
.icon.website:before  { content: '\E728'; font-family: 'Entypo' }

#people h5 {
  margin-top: 0
}

#subscribe {
  height: auto;
  overflow: hidden;
}

#partners img {
  max-height: 209px;
}

.spacer.row {
  height: 40px;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
  .nav-bar > li {
    text-align: center;
    border-bottom: 1px solid #CCC;
    a {
      font-size: 16px !important;
    }
  }
}