// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

body {
  -webkit-font-smoothing: subpixel-antialiased !important;
}

h1 {
  a {
    color: $txtColor;
    span {
      color: $mainColor;
    }

    &:hover {
      color: $mainColor;
      span {
        color: $txtColor;
      }      
    }
  }
}

h4 > small {
  margin-left: 10px
}

.grid {
    [class*="column"] + [class*="column"]:last-child {
        float: left;
    }
}

.picture {
    // border: 15px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    // box-shadow: 1px 1px 3px #AAA;
}

#people h5 {
  margin-top: 0
}

#subscribe {
  height: auto;
  overflow: hidden;
}