<% layout( 'layout' ) -%>
<% script( '//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js' ) %>
<% script( '/javascripts/lib/jquery.jknav.min.js' ) %>
<% script( '/javascripts/album.js' ) %>

<div class="row" id="album">
  <div class="twelve columns">
    <h4><%= album.name %></h4>
    <div id="pictures">
      <% for( var i = 0; i < album.photos.length; i++ ) { var photo = album.photos[ i ]; %>
        <div class="picture" id="photo-<%= photo.id %>">
          <img src="<%= photo.source %>" alt="<%= photo.name %>" />
        </div>
      <% } %>
    </div>
  </div>
</div>