<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title><%= title %> | HackEPFL</title>
  <link rel="stylesheet" href="/stylesheets/app.css" />
  <script src="/javascripts/lib/modernizr.foundation.js"></script>
</head>
<body>

  <header class="row">
    <div class="three columns">
      <h1>
        <span>Hack</span>EPFL
      </h1>
    </div>
    <div class="nine columns">
      <ul class="nav-bar right">
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/people">People</a></li>
        <li><a href="http://hackepfl.tumblr.com">Blog</a></li>
      </ul>
    </div>
  </header>

  <%- body -%>

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="six columns">
          <ul class="inline-list right">
            <li><a href="https://twitter.com/hackepfl">Twitter</a></li>
            <li><a href="https://www.facebook.com/hackepfl">Facebook</a></li>
            <li><a href="https://github.com/hackepfl">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="/javascripts/global.js"></script>
  <%- scripts %>
</body>
</html>
