<% layout( 'layout' ) -%>

<div class="row" id="partners">
  <div class="twelve columns">
    <h4>Sponsors</h4>
    <br />
    <div class="row">
      <div class="three columns">
        <img src="/images/partners/lenovo.png" alt="Lenovo" />
        <h5>Lenovo</h5>
        <p class="icons">
          <span class="icon website"></span>
          <a href="http://www.lenovo.com/">www.lenovo.com</a>
        </p>
      </div>
    </div>
    <hr />
  </div>
  <div class="twelve columns">  
    <h4>Friends</h4>
    <br />
    <div class="row">
      <div class="two columns">
        <img src="/images/partners/polyprog.png" alt="PolyProg" />
        <h5>PolyProg</h5>
        <p class="icons">
          <span class="icon website"></span>
          <a href="http://polyprog.epfl.ch/">polyprog.epfl.ch</a>
        </p>
      </div>
    </div>
  </div>
</div>
