<% layout( 'layout' ) -%>

<div class="row" id="partners">
  <div class="twelve columns">
    <div class="row">
      <div class="four columns">
        <h4>Sponsors</h4>
        <a href="http://www.lenovo.com/">
          <img src="/images/partners/lenovo.jpg" alt="Lenovo" />
        </a>
        <h5>Lenovo</h5>
        <p>
          Lenovo is the exclusive sponsor of the <a href="http://www.facebook.com/event.php?eid=422552357829134">NASA International Space Apps Challenge</a>.
        </p>
        <p class="icons">
          <span class="icon website"></span>
          <a href="http://www.lenovo.com/">www.lenovo.com</a>
        </p>
      </div>
      <div class="four columns">
        <h4>Friends</h4>
        <a href="http://polyprog.epfl.ch/">
          <img src="/images/partners/polyprog.png" alt="PolyProg" />
        </a>
        <h5>PolyProg</h5>
        <p>
          PolyProg's mission is to promote the interests and skills in algorithmic programming within EPFL.
        </p>
        <p class="icons">
          <span class="icon website"></span>
          <a href="http://polyprog.epfl.ch/">polyprog.epfl.ch</a>
        </p>
      </div>
      <div class="four columns">
      </div>
    </div>
  </div>
  <p></p>
  <div class="twelve columns">  
    <div class="row">

    </div>
  </div>
</div>
